div {
  display: block;
}
th {
  white-space: nowrap;
  min-width: 70px;
  font-style: normal;
  font-weight: normal;
  display: table-cell;
  vertical-align: inherit;
}
.book-detail{
  color: #353535;
  font-size: 14px;
  font-family: 'Microsoft Yahei',Helvetica,Arial,'Lucida Grande',sans-serif;
}
.visually-hidden{
  display: none !important;
}
.book-detail .right {
  max-width: 780px;
  width: 100%;
  float: left;
}
.book-detail .right .title {
  border-bottom: 2px solid #0e6aad;
  margin-bottom: 15px;
}
.book-detail .right .title h2 {
  font-size: 20px;
  color: #0e6aad;
  font-weight: normal;
  display: inline-block;
  margin-right: 20px;
}
.book-detail .right .title .sqh {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
}
.book-detail .right .item {
  margin-bottom: 5px;
  line-height: 1.8;
}
.book-detail .right .item label {
  float: left;
  width: 75px;
  font-weight: bold;
}
.qr-code-item{
  margin-left:5px;
  font-size: 10px;
}
.book-detail .right .top {
  border-bottom: 1px solid #0e6aad;
  margin-bottom: 10px;
  padding-bottom: 5px;
}
.book-detail .right .bottom{
  border-bottom: 1px solid #0e6aad;
  margin-bottom: 10px;
  padding-bottom: 20px;
}
.book-detail .right h2 {
  font-size: 14px;
  margin-bottom: 13px;
  font-weight: bold;
}
tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  background-color: transparent;
}
.book-detail .right table th {
  background: #33CCFF;
  text-align: center;
  padding: 3px;
  border: 1px solid #33CCCC;
}
.book-detail .right table td {
  padding: 0 3px;
  border: 1px solid #33CCCC;
  text-align: center;
  line-height: 1.6;
}
