body {
  color: #353535;
  font-size: 14px;
  font-family: 'Microsoft Yahei',Helvetica,Arial,'Lucida Grande',sans-serif;
}
div {
  display: block;
}
ul {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
ul, ol {
  list-style: none;
}
li {
  display: inline;
  text-align: -webkit-match-parent;
}
a {
  color: #0e6aad;
  text-decoration: none;
}
select, input, textarea {
  font-size: 14px;
  margin: 0;
}
label {
  font-weight: normal;
  cursor: default;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
option {
  font-weight: normal;
  display: block;
  white-space: pre;
  min-height: 1.2em;
  padding: 0px 2px 1px;
}
.visually-hidden{
  display: none !important;
}
.book-detail .right {
  max-width: 780px;
  width: 100%;
  float: left;
}
.book-detail .right .title {
  border-bottom: 2px solid #0e6aad;
  margin-bottom: 15px;
}
.book-detail .right .title .sqh {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
}
.book-detail .right .item {
  margin-bottom: 5px;
  line-height: 1.8;
}
.book-detail .right .item label {
  float: left;
  width: 75px;
  font-weight: bold;
}
.qr-code-item{
  margin-left:5px;
  font-size: 10px;
}
